.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
}

.font_Inter {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-weight: 20px;
}

.font_NotoSerif {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 16px;
  font-weight: 20px;
}
